.buscador {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.buscador h1 {
    flex-direction: column;
    display: flex;
    
}

.buscador .cabecalho  {
    
    background-color: #1b53ba ;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 8px 8px 16px rgba(0,0,10, 0.30);
    
}
.buscador .cabecalho .texto {
    background-color: #ffffffe1;
    margin: 18px;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 8px 8px 16px rgba(0,0,10, 0.30);

}



























/*
*/